body {
  font-family: "Arvo", serif;
}
/* #skills {
  padding: 400px 0 !important;
} */
.height {
  /* height= 1000px; */
  min-height: 100vh;
}
.title-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
  /* background-color: blue !important; */
}
.height-80 {
  min-height: 80vh;
}
.about-picture {
  background: url(../img/depotmie52X.jpg) center/cover no-repeat fixed;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

#filler {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../img/DepotMie52Baru.png) center/cover no-repeat fixed;
}
